/* Contains all the base colors that are used in the config.css */

:root {
    --color-0:  #000000;
    --color-20: #0f380f;
    --color-40: #306230;
    --color-60: #8bac0f;
    --color-80: #9bbc0f;
}
