/* Contains all the base colors that are used in the config.css */

:root {
    --color-green-black: #1e2919;
    --color-green-0: #1b3715;
    --color-green-25: #48603f;
    --color-green-50: #94a84d;
    --color-green-75: #9bbc0f;
}
