/* Config for styles */

:root {
  /* Fonts */
  --font-family-main: "press-start-2p";

  /* Colors */
  --color-game:       var(--color-green-0);
  --color-background: var(--color-green-25);
  --color-fill:       var(--color-green-50);
  --color-border:     var(--color-green-50);
  --color-font:       var(--color-green-75);

  /* Sizes */
  --size-game-width: calc((24px * 16) + 2rem);
  --size-tile: 24px;
  --size-control-button: 64px;

  --size-border: 4px;
  --size-border-radius: 0px;

  --size-buffer-small:  0.5rem;
  --size-buffer-medium: 1rem;
  --size-buffer-large:  4rem;

  --size-h1: x-large;
  --size-h2: larger;

  /* Filters */
  --drop-shadow: drop-shadow(0px var(--size-buffer-small) 4px #00000055);
  --drop-shadow-game: drop-shadow(0px var(--size-buffer-small) 0px #00000055)
}

@media only screen and (max-width: 470px) {
  :root {
    --size-game-width: 100%;
    --size-tile: 16px;
    --size-control-button: 48px;

    --size-h1: large;
    --size-h2: normal;
  }
}

@media only screen and (max-width: 330px) {
  :root {
    --size-tile: 8px;
    --size-control-button: 32px;

    --size-h1: normal;
    --size-h2: small;
  }
}

@media only screen and (max-width: 230px) {
  :root {
    --size-h1: small;
    --size-h2: smaller;
  }
}
