/* Config for styles */

:root {
    /* Fonts */
    --font-family-main: "press-start-2p";

    /* Colors */
    --color-game: var(--color-green-0);
    --color-background: var(--color-green-0);
    --color-fill: var(--color-green-50);
    --color-border: var(--color-green-50);
    --color-font: var(--color-green-75);

    /* Sizes */
    --size-p: 1rem;
    --size-8x8: 24px;
    --size-16x16: 48px;

    --size-game-width: calc((var(--size-8x8) * 16) + 2rem);
    --size-game-height: calc((var(--size-8x8) * 16) + 2rem);
    --size-game-gap: var(--size-buffer-large);

    --size-tile: var(--size-8x8);
    --size-control-button: var(--size-16x16);
    --size-selection: var(--size-16x16);

    --size-border: 2px;
    --size-border-radius: 0px;

    --size-buffer-small: 0.5rem;
    --size-buffer-medium: 1rem;
    --size-buffer-large: 4rem;

    --size-h1: x-large;
    --size-h2: large;

    /* Filters */
    --drop-shadow: drop-shadow(0px var(--size-buffer-small) 4px #00000055);
    --drop-shadow-game: drop-shadow(0px var(--size-buffer-small) 0px #00000055);
}

@media only screen and (max-width: 470px) {
    :root {
        --drop-shadow-game: none;

        --size-p: 0.5rem;
        --size-8x8: 16px;
        --size-16x16: 48px;

        --size-h1: normal;
        --size-h2: small;
    }
}

@media only screen and (max-width: 330px) {
    :root {
        --size-game-gap: var(--size-buffer-medium);

        --size-p: 0.25rem;
        --size-8x8: 8px;
        --size-16x16: 24px;

        --size-h1: 0.7rem;
        --size-h2: 0.5rem;
    }
}

@media only screen and (max-width: 230px) {
    :root {
        --size-h1: 0.5rem;
        --size-h2: 0.3rem;
    }
}
