/* Contains all the font-families that are used in the config.css */

@font-face {
  font-family: "press-start-2p";
  src: url(../font/press-start-2p/regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}